<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <meta http-equiv="refresh" content="1">
    <title>MarkdownReader</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Markdown Files</h2>
            <ul>
                {% for file in files %}
                    <li><a href="/{{ file }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            {{ content|safe }}
        </div>
    </div>
</body>
</html> 